d2to1>=0.2.10,<0.3
pbr>=0.5.16,<0.6

babel
netaddr
falcon>=0.1.6,<0.1.7
iso8601>=0.1.4
msgpack-python
pymongo
python-keystoneclient
python-memcached
simplejson
WebOb
stevedore>=0.9


-f http://tarballs.openstack.org/oslo.config/oslo.config-1.2.0a3.tar.gz#egg=oslo.config-1.2.0a3
oslo.config>=1.2.0a3
