export OSLO_CONFIG_GENERATOR_EXTRA_MODULES="keystonemiddleware.auth_token"
export OSLO_CONFIG_GENERATOR_EXTRA_LIBRARIES="zaqar.bootstrap
                                              zaqar.storage.base
                                              zaqar.storage.pipeline
                                              zaqar.storage.pooling
                                              zaqar.storage.mongodb
                                              zaqar.storage.sqlalchemy
                                              zaqar.transport.wsgi
                                              zaqar.transport.base
                                              zaqar.transport.validation"

