{
    "default": "rule:admin_or_owner",

    "subscription:get_all": "",
    "subscription:create": "",
    "subscription:get": "",
    "subscription:delete": "",
    "subscription:update": "",
    "subscription:confirm": ""
}
